{% extends "base.html" %}

{% block title %}Lista de Secretarias{% endblock %}
{% block header_title %}Secretarias{% endblock %}
{% block header_subtitle %}Visualize e gira as secretarias cadastradas.{% endblock %}

{% block content %}
<div class="content-container">
    <div class="content-header">
        <h1>Secretarias Registadas</h1>
        <a href="{{ url_for('adicionar_secretaria') }}" class="btn">Nova Secretaria</a>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Orçamento Declarado</th>
                    <th>Orçamento Gasto</th>
                    <th>Orçamento Restante</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for secretaria in secretarias %}
                <tr>
                    <td><strong>{{ secretaria.nome }}</strong></td>
                    <td>{{ secretaria.orcamento_consolidado | currency }}</td>
                    <td class="text-gasto">{{ secretaria.orcamento_gasto | currency }}</td>
                    <td class="text-disponivel">{{ secretaria.orcamento_restante | currency }}</td>
                    <td>
                        <div class="actions-group">
                            <a href="{{ url_for('editar_secretaria', secretaria_id=secretaria.id) }}" class="btn btn-sm btn-editar">Editar</a>
                            <form action="{{ url_for('remover_secretaria', secretaria_id=secretaria.id) }}" method="POST" onsubmit="return confirm('Atenção! Remover uma secretaria também removerá TODAS as suas obras e gastos associados. Deseja continuar?');">
                                <button type="submit" class="btn btn-sm btn-remover-perigo">Remover</button>
                            </form>
                        </div>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="5">Nenhuma secretaria cadastrada.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}{# Não precisa de scripts específicos aqui #}{% endblock %}